In [1]:
# Filtering out the warnings

import warnings

warnings.filterwarnings('ignore')

In [2]:
# Importing important libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##  Task 1: Reading the data

- ### Subtask 1.1: Read the Applicants' Data.

Read the movies data file provided and store it in a dataframe `movies`.

In [16]:
df=pd.read_csv("application_data.csv")
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.info

<bound method DataFrame.info of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
1                    N             0          270000.0   1293502.5
2                    Y             0           67500.0    135000.0
3                    Y             0          135000.0    312682.5
4                    Y             0          121500.0    513000.0
...                ...           ...               ...         ...
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
...                 ...                        ...                       ...
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
...                            ...                        ...
307506                         NaN                        NaN
307507                         NaN                        NaN
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                             0.0                         1.0
1                             0.0                         0.0
2                             0.0                         0.0
3                             NaN                         NaN
4                             0.0                         0.0
...                           ...                         ...
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[307511 rows x 122 columns]>

In [10]:
df.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

## Task 2: Data Analysis

Now that we have loaded the dataset and inspected it, we see that most of the data is in place. As of now, no data cleaning is required, so let's start with some data manipulation, analysis, and visualisation to get various insights about the data.

-  ###  Subtask 2.1: Reduce the Noise!

There are way too many columns/ variables in the dataset. Let's find out which of them are important to analyse the problem at hand: To identify which loan applicants have greater chances for default, or in other words find variables that are strong indicators of default.

In [11]:
df.shape

(307511, 122)

#### As we can see there are way to many variables, to even analyse whether they're worth any evaluation at all. We'll take help of another table that consists short description of all the columns

In [27]:
pd.options.display.max_rows = 200
column_desc = pd.read_csv("columns_description.csv")
column_desc

,Unnamed: 0,Table,Row,Description,Special
0,1,application_data,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_data,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_data,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_data,CODE_GENDER,Gender of the client,NaN
4,7,application_data,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_data,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_data,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_data,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_data,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_data,AMT_ANNUITY,Loan annuity,NaN
10,13,application_data,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,NaN
11,14,application_data,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,NaN
12,15,application_data,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",NaN
13,16,application_data,NAME_EDUCATION_TYPE,Level of highest education the client achieved,NaN
14,17,application_data,NAME_FAMILY_STATUS,Family status of the client,NaN
15,18,application_data,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,NaN
16,19,application_data,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,normalized
17,20,application_data,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_data,DAYS_EMPLOYED,How many days before the application the perso...,time only relative to the application
19,22,application_data,DAYS_REGISTRATION,How many days before the application did clien...,time only relative to the application
20,23,application_data,DAYS_ID_PUBLISH,How many days before the application did clien...,time only relative to the application
21,24,application_data,OWN_CAR_AGE,Age of client's car,NaN
22,25,application_data,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_data,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_data,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_data,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_data,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_data,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN
28,31,application_data,OCCUPATION_TYPE,What kind of occupation does the client have,NaN
29,32,application_data,CNT_FAM_MEMBERS,How many family members does client have,NaN
30,33,application_data,REGION_RATING_CLIENT,Our rating of the region where client lives (1...,NaN
31,34,application_data,REGION_RATING_CLIENT_W_CITY,Our rating of the region where client lives wi...,NaN
32,35,application_data,WEEKDAY_APPR_PROCESS_START,On which day of the week did the client apply ...,NaN
33,36,application_data,HOUR_APPR_PROCESS_START,Approximately at what hour did the client appl...,rounded
34,37,application_data,REG_REGION_NOT_LIVE_REGION,Flag if client's permanent address does not ma...,NaN
35,38,application_data,REG_REGION_NOT_WORK_REGION,Flag if client's permanent address does not ma...,NaN
36,39,application_data,LIVE_REGION_NOT_WORK_REGION,Flag if client's contact address does not matc...,NaN
37,40,application_data,REG_CITY_NOT_LIVE_CITY,Flag if client's permanent address does not ma...,NaN
38,41,application_data,REG_CITY_NOT_WORK_CITY,Flag if client's permanent address does not ma...,NaN
39,42,application_data,LIVE_CITY_NOT_WORK_CITY,Flag if client's contact address does not matc...,NaN
40,43,application_data,ORGANIZATION_TYPE,Type of organization where client works,NaN
41,44,application_data,EXT_SOURCE_1,Normalized score from external data source,normalized
42,45,application_data,EXT_SOURCE_2,Normalized score from external data source,normalized
43,46,application_data,EXT_SOURCE_3,Normalized score from external data source,normalized
44,47,application_data,APARTMENTS_AVG,Normalized information about building where th...,normalized
45,48,application_data,BASEMENTAREA_AVG,Normalized information about building where th...,normalized
46,49,application_data,YEARS_BEGINEXPLUATATION_AVG,Normalized information about building where th...,normalized
47,50,application_data,YEARS_BUILD_AVG,Normalized information about building where th...,normalized
48,51,application_data,COMMONAREA_AVG,Normalized information about building where th...,normalized
49,52,application_data,ELEVATORS_AVG,Normalized information about building where th...,normalized
50,53,application_data,ENTRANCES_AVG,Normalized information about building where th...,normalized
51,54,application_data,FLOORSMAX_AVG,Normalized information about building where th...,normalized
52,55,application_data,FLOORSMIN_AVG,Normalized information about building where th...,normalized
53,56,application_data,LANDAREA_AVG,Normalized information about building where th...,normalized
54,57,application_data,LIVINGAPARTMENTS_AVG,Normalized information about building where th...,normalized
55,58,application_data,LIVINGAREA_AVG,Normalized information about building where th...,normalized
56,59,application_data,NONLIVINGAPARTMENTS_AVG,Normalized information about building where th...,normalized
57,60,application_data,NONLIVINGAREA_AVG,Normalized information about building where th...,normalized
58,61,application_data,APARTMENTS_MODE,Normalized information about building where th...,normalized
59,62,application_data,BASEMENTAREA_MODE,Normalized information about building where th...,normalized
60,63,application_data,YEARS_BEGINEXPLUATATION_MODE,Normalized information about building where th...,normalized
61,64,application_data,YEARS_BUILD_MODE,Normalized information about building where th...,normalized
62,65,application_data,COMMONAREA_MODE,Normalized information about building where th...,normalized
63,66,application_data,ELEVATORS_MODE,Normalized information about building where th...,normalized
64,67,application_data,ENTRANCES_MODE,Normalized information about building where th...,normalized
65,68,application_data,FLOORSMAX_MODE,Normalized information about building where th...,normalized
66,69,application_data,FLOORSMIN_MODE,Normalized information about building where th...,normalized
67,70,application_data,LANDAREA_MODE,Normalized information about building where th...,normalized
68,71,application_data,LIVINGAPARTMENTS_MODE,Normalized information about building where th...,normalized
69,72,application_data,LIVINGAREA_MODE,Normalized information about building where th...,normalized
70,73,application_data,NONLIVINGAPARTMENTS_MODE,Normalized information about building where th...,normalized
71,74,application_data,NONLIVINGAREA_MODE,Normalized information about building where th...,normalized
72,75,application_data,APARTMENTS_MEDI,Normalized information about building where th...,normalized
73,76,application_data,BASEMENTAREA_MEDI,Normalized information about building where th...,normalized
74,77,application_data,YEARS_BEGINEXPLUATATION_MEDI,Normalized information about building where th...,normalized
75,78,application_data,YEARS_BUILD_MEDI,Normalized information about building where th...,normalized
76,79,application_data,COMMONAREA_MEDI,Normalized information about building where th...,normalized
77,80,application_data,ELEVATORS_MEDI,Normalized information about building where th...,normalized
78,81,application_data,ENTRANCES_MEDI,Normalized information about building where th...,normalized
79,82,application_data,FLOORSMAX_MEDI,Normalized information about building where th...,normalized
80,83,application_data,FLOORSMIN_MEDI,Normalized information about building where th...,normalized
81,84,application_data,LANDAREA_MEDI,Normalized information about building where th...,normalized
82,85,application_data,LIVINGAPARTMENTS_MEDI,Normalized information about building where th...,normalized
83,86,application_data,LIVINGAREA_MEDI,Normalized information about building where th...,normalized
84,87,application_data,NONLIVINGAPARTMENTS_MEDI,Normalized information about building where th...,normalized
85,88,application_data,NONLIVINGAREA_MEDI,Normalized information about building where th...,normalized
86,89,application_data,FONDKAPREMONT_MODE,Normalized information about building where th...,normalized
87,90,application_data,HOUSETYPE_MODE,Normalized information about building where th...,normalized
88,91,application_data,TOTALAREA_MODE,Normalized information about building where th...,normalized
89,92,application_data,WALLSMATERIAL_MODE,Normalized information about building where th...,normalized
90,93,application_data,EMERGENCYSTATE_MODE,Normalized information about building where th...,normalized
91,94,application_data,OBS_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
92,95,application_data,DEF_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
93,96,application_data,OBS_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
94,97,application_data,DEF_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
95,98,application_data,DAYS_LAST_PHONE_CHANGE,How many days before application did client ch...,NaN
96,99,application_data,FLAG_DOCUMENT_2,Did client provide document 2,NaN
97,100,application_data,FLAG_DOCUMENT_3,Did client provide document 3,NaN
98,101,application_data,FLAG_DOCUMENT_4,Did client provide document 4,NaN
99,102,application_data,FLAG_DOCUMENT_5,Did client provide document 5,NaN
100,103,application_data,FLAG_DOCUMENT_6,Did client provide document 6,NaN
101,104,application_data,FLAG_DOCUMENT_7,Did client provide document 7,NaN
102,105,application_data,FLAG_DOCUMENT_8,Did client provide document 8,NaN
103,106,application_data,FLAG_DOCUMENT_9,Did client provide document 9,NaN
104,107,application_data,FLAG_DOCUMENT_10,Did client provide document 10,NaN
105,108,application_data,FLAG_DOCUMENT_11,Did client provide document 11,NaN
106,109,application_data,FLAG_DOCUMENT_12,Did client provide document 12,NaN
107,110,application_data,FLAG_DOCUMENT_13,Did client provide document 13,NaN
108,111,application_data,FLAG_DOCUMENT_14,Did client provide document 14,NaN
109,112,application_data,FLAG_DOCUMENT_15,Did client provide document 15,NaN
110,113,application_data,FLAG_DOCUMENT_16,Did client provide document 16,NaN
111,114,application_data,FLAG_DOCUMENT_17,Did client provide document 17,NaN
112,115,application_data,FLAG_DOCUMENT_18,Did client provide document 18,NaN
113,116,application_data,FLAG_DOCUMENT_19,Did client provide document 19,NaN
114,117,application_data,FLAG_DOCUMENT_20,Did client provide document 20,NaN
115,118,application_data,FLAG_DOCUMENT_21,Did client provide document 21,NaN
116,119,application_data,AMT_REQ_CREDIT_BUREAU_HOUR,Number of enquiries to Credit Bureau about the...,NaN
117,120,application_data,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,121,application_data,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,122,application_data,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,123,application_data,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,124,application_data,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN
122,176,previous_application.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
123,177,previous_application.csv,SK_ID_CURR,ID of loan in our sample,hashed
124,178,previous_application.csv,NAME_CONTRACT_TYPE,"Contract product type (Cash loan, consumer loa...",NaN
125,179,previous_application.csv,AMT_ANNUITY,Annuity of previous application,NaN
126,180,previous_application.csv,AMT_APPLICATION,For how much credit did client ask on the prev...,NaN
127,181,previous_application.csv,AMT_CREDIT,Final credit amount on the previous applicatio...,NaN
128,182,previous_application.csv,AMT_DOWN_PAYMENT,Down payment on the previous application,NaN
129,183,previous_application.csv,AMT_GOODS_PRICE,Goods price of good that client asked for (if ...,NaN
130,184,previous_application.csv,WEEKDAY_APPR_PROCESS_START,On which day of the week did the client apply ...,NaN
131,185,previous_application.csv,HOUR_APPR_PROCESS_START,Approximately at what day hour did the client ...,rounded
132,186,previous_application.csv,FLAG_LAST_APPL_PER_CONTRACT,Flag if it was last application for the previo...,NaN
133,187,previous_application.csv,NFLAG_LAST_APPL_IN_DAY,Flag if the application was the last applicati...,NaN
134,188,previous_application.csv,NFLAG_MICRO_CASH,Flag Micro finance loan,NaN
135,189,previous_application.csv,RATE_DOWN_PAYMENT,Down payment rate normalized on previous credit,normalized
136,190,previous_application.csv,RATE_INTEREST_PRIMARY,Interest rate normalized on previous credit,normalized
137,191,previous_application.csv,RATE_INTEREST_PRIVILEGED,Interest rate normalized on previous credit,normalized
138,192,previous_application.csv,NAME_CASH_LOAN_PURPOSE,Purpose of the cash loan,NaN
139,193,previous_application.csv,NAME_CONTRACT_STATUS,"Contract status (approved, cancelled, ...) of ...",NaN
140,194,previous_application.csv,DAYS_DECISION,Relative to current application when was the d...,time only relative to the application
141,195,previous_application.csv,NAME_PAYMENT_TYPE,Payment method that client chose to pay for th...,NaN
142,196,previous_application.csv,CODE_REJECT_REASON,Why was the previous application rejected,NaN
143,197,previous_application.csv,NAME_TYPE_SUITE,Who accompanied client when applying for the p...,NaN
144,198,previous_application.csv,NAME_CLIENT_TYPE,Was the client old or new client when applying...,NaN
145,199,previous_application.csv,NAME_GOODS_CATEGORY,What kind of goods did the client apply for in...,NaN
146,200,previous_application.csv,NAME_PORTFOLIO,"Was the previous application for CASH, POS, CA...",NaN
147,201,previous_application.csv,NAME_PRODUCT_TYPE,Was the previous application x-sell o walk-in,NaN
148,202,previous_application.csv,CHANNEL_TYPE,Through which channel we acquired the client o...,NaN
149,203,previous_application.csv,SELLERPLACE_AREA,Selling area of seller place of the previous a...,NaN
150,204,previous_application.csv,NAME_SELLER_INDUSTRY,The industry of the seller,NaN
151,205,previous_application.csv,CNT_PAYMENT,Term of previous credit at application of the ...,NaN
152,206,previous_application.csv,NAME_YIELD_GROUP,Grouped interest rate into small medium and hi...,grouped
153,207,previous_application.csv,PRODUCT_COMBINATION,Detailed product combination of the previous a...,NaN
154,208,previous_application.csv,DAYS_FIRST_DRAWING,Relative to application date of current applic...,time only relative to the application
155,209,previous_application.csv,DAYS_FIRST_DUE,Relative to application date of current applic...,time only relative to the application
156,210,previous_application.csv,DAYS_LAST_DUE_1ST_VERSION,Relative to application date of current applic...,time only relative to the application
157,211,previous_application.csv,DAYS_LAST_DUE,Relative to application date of current applic...,time only relative to the application
158,212,previous_application.csv,DAYS_TERMINATION,Relative to application date of current applic...,time only relative to the application
159,213,previous_application.csv,NFLAG_INSURED_ON_APPROVAL,Did the client requested insurance during the ...,NaN

In [36]:
df[["EXT_SOURCE_1","EXT_SOURCE_2","EXT_SOURCE_3"]].isnull().sum()/len(df)

EXT_SOURCE_1    0.563811
EXT_SOURCE_2    0.002146
EXT_SOURCE_3    0.198253
dtype: float64

In [47]:
df.OBS_30_CNT_SOCIAL_CIRCLE.value_counts(normalize=True)

0.0      0.534797
1.0      0.159167
2.0      0.097256
3.0      0.066306
4.0      0.046145
5.0      0.031169
6.0      0.021055
7.0      0.014323
8.0      0.009681
9.0      0.006535
10.0     0.004490
11.0     0.002780
12.0     0.002127
13.0     0.001341
14.0     0.000842
15.0     0.000542
16.0     0.000434
17.0     0.000287
18.0     0.000150
19.0     0.000144
20.0     0.000098
21.0     0.000095
22.0     0.000072
23.0     0.000049
24.0     0.000036
25.0     0.000036
27.0     0.000016
26.0     0.000010
30.0     0.000007
28.0     0.000003
348.0    0.000003
29.0     0.000003
47.0     0.000003
Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: float64

In [48]:
df.DEF_30_CNT_SOCIAL_CIRCLE.value_counts(normalize=True)

0.0     0.885262
1.0     0.092427
2.0     0.017368
3.0     0.003889
4.0     0.000825
5.0     0.000183
6.0     0.000036
7.0     0.000003
8.0     0.000003
34.0    0.000003
Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: float64

In [49]:
df.OBS_60_CNT_SOCIAL_CIRCLE.value_counts(normalize=True)

0.0      0.537264
1.0      0.159451
2.0      0.097119
3.0      0.065956
4.0      0.045502
5.0      0.030875
6.0      0.020715
7.0      0.014173
8.0      0.009416
9.0      0.006392
10.0     0.004356
11.0     0.002731
12.0     0.002023
13.0     0.001308
14.0     0.000777
15.0     0.000542
16.0     0.000447
17.0     0.000238
18.0     0.000160
19.0     0.000144
20.0     0.000098
21.0     0.000091
22.0     0.000065
23.0     0.000042
24.0     0.000039
25.0     0.000036
27.0     0.000016
29.0     0.000007
28.0     0.000003
344.0    0.000003
47.0     0.000003
26.0     0.000003
30.0     0.000003
Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: float64

In [50]:
df.DEF_60_CNT_SOCIAL_CIRCLE.value_counts(normalize=True)

0.0     0.915922
1.0     0.071262
2.0     0.010343
3.0     0.001951
4.0     0.000440
5.0     0.000065
6.0     0.000010
24.0    0.000003
7.0     0.000003
Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: float64

In [52]:
# Dropping the columns that aren't imperative for analysis

df.drop(["SK_ID_CURR", "FLAG_CONT_MOBILE", "REG_REGION_NOT_WORK_REGION", "LIVE_CITY_NOT_WORK_CITY", "YEARS_BEGINEXPLUATATION_AVG",
"LANDAREA_AVG", "BASEMENTAREA_MODE", "FLOORSMAX_MODE", "NONLIVINGAREA_MODE", "ELEVATORS_MEDI", "NONLIVINGAPARTMENTS_MEDI",
"EMERGENCYSTATE_MODE", "FLAG_DOCUMENT_8", "FLAG_DOCUMENT_15", "NAME_TYPE_SUITE", "FLAG_PHONE", "LIVE_REGION_NOT_WORK_REGION",
"EXT_SOURCE_1", "YEARS_BUILD_AVG", "LIVINGAPARTMENTS_AVG", "YEARS_BEGINEXPLUATATION_MODE", "FLOORSMIN_MODE", "APARTMENTS_MEDI", 
"ENTRANCES_MEDI", "NONLIVINGAREA_MEDI", "FLAG_DOCUMENT_2", "FLAG_DOCUMENT_9", "FLAG_DOCUMENT_16", "OWN_CAR_AGE", "FLAG_EMAIL",  
"REG_CITY_NOT_LIVE_CITY", "EXT_SOURCE_2", "COMMONAREA_AVG", "LIVINGAREA_AVG", "YEARS_BUILD_MODE", "LANDAREA_MODE", "BASEMENTAREA_MEDI", 
"FLOORSMAX_MEDI", "FONDKAPREMONT_MODE", "FLAG_DOCUMENT_3", "FLAG_DOCUMENT_10", "FLAG_DOCUMENT_17", "FLAG_MOBIL", "WEEKDAY_APPR_PROCESS_START", 
"REG_CITY_NOT_WORK_CITY", "EXT_SOURCE_3", "ELEVATORS_AVG", "NONLIVINGAPARTMENTS_AVG", "COMMONAREA_MODE", "LIVINGAPARTMENTS_MODE", 
"YEARS_BEGINEXPLUATATION_MEDI", "FLOORSMIN_MEDI", "HOUSETYPE_MODE", "FLAG_DOCUMENT_4", "FLAG_DOCUMENT_11", "FLAG_DOCUMENT_18", 
"FLAG_EMP_PHONE", "REG_REGION_NOT_LIVE_REGION", "FLAG_WORK_PHONE", "APARTMENTS_AVG", "ENTRANCES_AVG", "NONLIVINGAREA_AVG", 
"ELEVATORS_MODE", "LIVINGAREA_MODE", "YEARS_BUILD_MEDI", "LANDAREA_MEDI", "TOTALAREA_MODE", "FLAG_DOCUMENT_5", "FLAG_DOCUMENT_12",
"FLAG_DOCUMENT_19", "BASEMENTAREA_AVG", "FLOORSMAX_AVG", "APARTMENTS_MODE", "ENTRANCES_MODE", "NONLIVINGAPARTMENTS_MODE", 
"COMMONAREA_MEDI", "LIVINGAPARTMENTS_MEDI", "WALLSMATERIAL_MODE", "FLAG_DOCUMENT_6", "FLAG_DOCUMENT_13", "FLAG_DOCUMENT_20", 
"LIVINGAREA_MEDI", "FLOORSMIN_AVG", "FLAG_DOCUMENT_7", "FLAG_DOCUMENT_14", "FLAG_DOCUMENT_21"],axis=1, inplace=True)

In [53]:
df.shape

(307511, 36)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 36 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TARGET                       307511 non-null  int64
 1   NAME_CONTRACT_TYPE           307511 non-null  object
 2   CODE_GENDER                  307511 non-null  object
 3   FLAG_OWN_CAR                 307511 non-null  object
 4   FLAG_OWN_REALTY              307511 non-null  object
 5   CNT_CHILDREN                 307511 non-null  int64
 6   AMT_INCOME_TOTAL             307511 non-null  float64
 7   AMT_CREDIT                   307511 non-null  float64
 8   AMT_ANNUITY                  307499 non-null  float64
 9   AMT_GOODS_PRICE              307233 non-null  float64
 10  NAME_INCOME_TYPE             307511 non-null  object
 11  NAME_EDUCATION_TYPE          307511 non-null  object
 12  NAME_FAMILY_STATUS           307511 non-null  object
 13  NAME_HOUSING_TYPE            307511 non-null  object
 14  REGION_POPULATION_RELATIVE   307511 non-null  float64
 15  DAYS_BIRTH                   307511 non-null  int64
 16  DAYS_EMPLOYED                307511 non-null  int64
 17  DAYS_REGISTRATION            307511 non-null  float64
 18  DAYS_ID_PUBLISH              307511 non-null  int64
 19  OCCUPATION_TYPE              211120 non-null  object
 20  CNT_FAM_MEMBERS              307509 non-null  float64
 21  REGION_RATING_CLIENT         307511 non-null  int64
 22  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 23  HOUR_APPR_PROCESS_START      307511 non-null  int64
 24  ORGANIZATION_TYPE            307511 non-null  object
 25  OBS_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 26  DEF_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 27  OBS_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 28  DEF_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 29  DAYS_LAST_PHONE_CHANGE       307510 non-null  float64
 30  AMT_REQ_CREDIT_BUREAU_HOUR   265992 non-null  float64
 31  AMT_REQ_CREDIT_BUREAU_DAY    265992 non-null  float64
 32  AMT_REQ_CREDIT_BUREAU_WEEK   265992 non-null  float64
 33  AMT_REQ_CREDIT_BUREAU_MON    265992 non-null  float64
 34  AMT_REQ_CREDIT_BUREAU_QRT    265992 non-null  float64
 35  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(18), int64(8), object(10)
memory usage: 84.5+ MB

In [57]:
df.isnull().sum()/len(df)

TARGET                         0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
FLAG_OWN_REALTY                0.000000
CNT_CHILDREN                   0.000000
AMT_INCOME_TOTAL               0.000000
AMT_CREDIT                     0.000000
AMT_ANNUITY                    0.000039
AMT_GOODS_PRICE                0.000904
NAME_INCOME_TYPE               0.000000
NAME_EDUCATION_TYPE            0.000000
NAME_FAMILY_STATUS             0.000000
NAME_HOUSING_TYPE              0.000000
REGION_POPULATION_RELATIVE     0.000000
DAYS_BIRTH                     0.000000
DAYS_EMPLOYED                  0.000000
DAYS_REGISTRATION              0.000000
DAYS_ID_PUBLISH                0.000000
OCCUPATION_TYPE                0.313455
CNT_FAM_MEMBERS                0.000007
REGION_RATING_CLIENT           0.000000
REGION_RATING_CLIENT_W_CITY    0.000000
HOUR_APPR_PROCESS_START        0.000000
ORGANIZATION_TYPE              0.000000
OBS_30_CNT_SOCIAL_CIRCLE       0.003320
DEF_30_CNT_SOCIAL_CIRCLE       0.003320
OBS_60_CNT_SOCIAL_CIRCLE       0.003320
DEF_60_CNT_SOCIAL_CIRCLE       0.003320
DAYS_LAST_PHONE_CHANGE         0.000003
AMT_REQ_CREDIT_BUREAU_HOUR     0.135016
AMT_REQ_CREDIT_BUREAU_DAY      0.135016
AMT_REQ_CREDIT_BUREAU_WEEK     0.135016
AMT_REQ_CREDIT_BUREAU_MON      0.135016
AMT_REQ_CREDIT_BUREAU_QRT      0.135016
AMT_REQ_CREDIT_BUREAU_YEAR     0.135016
dtype: float64

In [60]:
df.OCCUPATION_TYPE.value_counts()

Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: OCCUPATION_TYPE, dtype: int64